snippet imp
import math
import numpy as np
import sympy as sym
import numpy.linalg as npl
import matplotlib.pyplot as plt
import scipy.linalg as spl
from scipy.optimize import fsolve
from sympy.utilities.lambdify import lambdify
from scipy.linalg import pascal
from scipy.fft  import fft, ifft
from scipy.fftpack import fftshift, ifftshift
endsnippet
