snippet skeleton
<html>
	<head>
		${1}
	</head>
	<body>
		${0}
	</body>
</html>
endsnippet

snippet ul
<ul>
	${0}
</ul>
endsnippet

snippet p
<p>${0}</p>
endsnippet

snippet sect
<section>
	${0}
</section>
endsnippet

snippet div
<div>
	${0}
</div>
endsnippet

snippet img
<img src="${0}">
endsnippet
