[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/bundle/vim-fswitch"]
	path = vim/bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "vim/bundle/UltiSnips"]
	path = vim/bundle/UltiSnips
	url = https://github.com/sirver/UltiSnips
[submodule "linux/vim/bundle/vim-surround"]
	path = linux/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.config/vim/bundle/vim-rsi"]
	path = vim/.config/vim/plugins/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "vim/.config/vim/bundle/vimtex"]
	path = vim/.config/vim/plugins/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/.config/vim/bundle/vim-python-pep8-indent"]
	path = vim/.config/vim/plugins/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "vim/.config/vim/plugins/vim-lsp"]
	path = vim/.config/vim/plugins/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/.config/vim/plugins/VimCompletesMe"]
	path = vim/.config/vim/plugins/VimCompletesMe
	url = https://github.com/vim-scripts/VimCompletesMe
[submodule "vim/.config/vim/plugins/vim-lsp-ultisnips"]
	path = vim/.config/vim/plugins/vim-lsp-ultisnips
	url = https://github.com/thomasfaingnaert/vim-lsp-ultisnips
[submodule "vim/.config/vim/plugins/vim-lion"]
	path = vim/.config/vim/plugins/vim-lion
	url = https://github.com/tommcdo/vim-lion
[submodule "vim/.config/vim/plugins/vim-vinegar"]
	path = vim/.config/vim/plugins/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/.config/vim/plugins/vim-lumen"]
	path = vim/.config/vim/plugins/vim-lumen
	url = https://github.com/vimpostor/vim-lumen
